.cal-main {
  width: 100%;
  padding-top: 10px;
}

.p10 {
  padding: 10px;
}

.cal-prev-btn {
  float: left;
  width: 50%;
  cursor: pointer;
}

.cal-color {
  color: #d6a354;
}

.cal-next-btn {
  float: left;
  width: 50%;
  text-align: right;
  cursor: pointer;
}

.cal-table {
  width: 100%;
}

.p15 {
  padding: 5px 0;
}

.cal-day {
  padding: 5px 0;
  text-align: center;
}


.calendar-font {
  font-size: 12px;
  margin-bottom: 5px;
}

.calendar_red {
  color: red;
}

.calendar_green {
  color: green;
}