/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

.modal h2 { margin-top: 0; }

.modal .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
}

.modal .close:hover { opacity: 1; }

.modal .content {
  max-height: 400px;
  overflow: auto;
}

.modal p {
  margin: 0 0 1em;
  text-align: center;
}

.modal p:last-child { margin: 0; } */

.galleryModal{
  position: absolute;
top: 0;
opacity: 1;
z-index: 1000;
background-color: black;
width: 100%;
height: 100%;
left: 0;
right: 0;
bottom: 0;
}

.closeBtn{
  position:absolute;
  left: 90%;
  top: 5%;
}

.modalImage{
  width: 100%;
  height: auto;
}
 
/* @media only screen and (max-width: 600px) {
  
.modalImage{
  width: 100%;
  height: 400px;
}
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .modalImage{
    width: 100%;
    height: 400px;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .modalImage{
    width: 100%;
    height: 500px;
  }
}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .modalImage{
    width: 100%;
    height: 500px;
  }
}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .modalImage{
    width: 100%;
    height: 600px;
  }
} */