@media only screen and (max-width: 600px) {

  .category-carousel .rec.rec-arrow {
    background-color: #212529;
    color: #fff;
    font-size: 1.2rem;
    height: 30px;
    min-width: 30px;
    border: 1px solid white;
    width: 30px;
    line-height: 0;
  }

  .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .category-carousel .rec.rec-pagination {
    display: block;
  }

  .service-carousel .rec.rec-pagination {
    display: none;
  }

  .card-item {
    font-weight: normal;
    width: 250px;
    height: 120px;
    margin: 0 4px;
    font-size: 18px;
  }

  .service-card {
    height: 460px;
    width: 250px;
    margin: 0 4px;
    cursor: pointer;
  }

  .service-carousel {
    padding: 0;
    margin-bottom: 70px;
  }

  .service-carousel .rec.rec-arrow {
    background-color: #212529;
    color: #fff;
    font-size: 1.2rem;
    height: 30px;
    min-width: 30px;
    border: 1px solid white;
    width: 30px;
    line-height: 0;
  }

  .service-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .category-carousel .rec.rec-arrow {
    background-color: #212529;
    color: #fff;
    font-size: 1.2rem;
    height: 30px;
    min-width: 30px;
    border: 1px solid white;
    width: 30px;
    line-height: 0;
  }

  .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .category-carousel .rec.rec-pagination {
    display: block;
  }

  .service-carousel .rec.rec-pagination {
    display: block;
  }

  .card-item {
    font-weight: normal;
    width: 250px;
    height: 120px;
    margin: 0 4px;
    font-size: 18px;
  }

  .service-card {
    height: 405px;
    width: 250px;
    margin: 0 4px;
    cursor: pointer;
  }

  .service-carousel {
    padding: 0;
    margin-bottom: 70px;
  }

  .service-carousel .rec.rec-arrow {
    display: none;
  }

  .service-carousel .rec.rec-arrow:hover {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .category-carousel .rec.rec-arrow {
    background-color: #d6a354;
    color: #212529;
    font-size: 1.5rem;
    height: 50px;
    min-width: 50px;
    border: none;
    width: 50px;
    line-height: 50px;
  }

  .category-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .category-carousel .rec.rec-pagination {
    display: none;
  }

  .service-carousel .rec.rec-pagination {
    display: none;
  }

  .card-item {
    font-weight: 600;
    width: 100%;
    height: 250px;
    margin: 0 5px;
    font-size: 2.6em;
  }

  .service-card {
    height: 515px;
    width: 100%;
    margin: 0 15px;
    cursor: pointer;
  }

  .service-carousel {
    padding: 0;
    margin-bottom: 70px;
    padding-bottom: 15px;
  }

  .service-carousel .rec.rec-arrow {
    background-color: #d6a354;
  }

  .service-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .category-carousel .rec.rec-arrow {
    background-color: #d6a354;
    color: #212529;
    font-size: 1.5rem;
    height: 50px;
    min-width: 50px;
    border: none;
    width: 50px;
    line-height: 50px;
  }

  .category-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .category-carousel .rec.rec-pagination {
    display: none;
  }

  .service-carousel .rec.rec-pagination {
    display: none;
  }

  .card-item {
    font-weight: 600;
    width: 100%;
    height: 250px;
    margin: 0 6px;
    font-size: 3em;
  }

  .service-card {
    height: 515px;
    width: 100%;
    margin: 0 15px;
    cursor: pointer;
  }

  .service-carousel {
    padding: 0;
    margin-bottom: 70px;
    padding-bottom: 15px;
  }

  .service-carousel .rec.rec-arrow {
    background-color: #d6a354;
  }

  .service-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .category-carousel .rec.rec-arrow {
    background-color: #d6a354;
    color: #212529;
    font-size: 1.5rem;
    height: 50px;
    min-width: 50px;
    border: none;
    width: 50px;
    line-height: 50px;
  }

  .category-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .category-carousel .rec.rec-pagination {
    display: none;
  }

  .service-carousel .rec.rec-pagination {
    display: none;
  }

  .card-item {
    font-weight: normal;
    width: 100%;
    height: 250px;
    margin: 0 6px;
    font-size: 3em;
  }

  .service-card {
    height: auto;
    width: 100%;
    margin: 0 15px;
    cursor: pointer;
  }

  .service-carousel {
    padding: 0;
    margin-bottom: 70px;
    padding-bottom: 15px;
  }

  .service-carousel .rec.rec-arrow {
    background-color: #d6a354;
  }

  .service-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }
}