.input-box,
.input-button,
.otp-button {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}

.input-box {
  padding: 0.25rem 0;
  border: 0;
  border-bottom: 1px solid #bb1515;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.125rem;
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}

.toogle-dark .input-box {
  color: black;
}

.input-box::-moz-selection {
  background: rgba(187, 21, 21, 0.25);
}

.input-box::selection {
  background: rgba(187, 21, 21, 0.25);
}

.input-button,
.signup-button,
.otp-button {
  padding: 0.25em 0;
  border: 0;
  outline: 0;
  background: #bb1515;
  color: rgba(255, 255, 255, 0.85);
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: 0.0625rem;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* .toogle-dark .input-button,
.toogle-dark .signup-button {
  color: black;
} */

.input-box:focus,
.input-button:focus,
.otp-button:focus {
  opacity: 1;
  transform: translate(-50%, -100%);
  pointer-events: auto;
  transition: all 0.4s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.5s;
  z-index: 10;
}

.test-box {
  opacity: 1;
  transform: translate(-50%, -100%);
  pointer-events: auto;
  transition: all 0.4s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.5s;
  z-index: 10;

}

.otp-btn {
  opacity: 1;
  transform: translate(-50%, -100%);
  pointer-events: auto;
  transition: all 0.4s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.5s;
  z-index: 10;
}

.input-box:focus~.input-box,
.input-box:focus~.input-button {
  transform: translate(-50%, 500%);
  transition: all 0.5s ease-in;
}

.input-box:focus~label .label-text {
  transform: translate(-50%, 300%);
  transition: all 0.5s ease-in;
}

.input-box:focus~.tip,
.input-box:focus~.lab-back,
.input-box:focus~.lab-next,
.input-box:focus~.lab-skip {
  opacity: 1;
}

.input-box:focus~.signup-button,
.input-button:focus~.signup-button {
  opacity: 0;
}

.input-box:focus+label .label-text,
.input-box:focus+label .label-textarea {
  opacity: 1;
  transform: translate(-50%, -100%);
  transition: all 0.3s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.4s;
}

.input-box:focus+label .nav-dot:before {
  background: #a41212;
  box-shadow: 0 0 0 0.15rem #111, 0 0 0.05rem 0.26rem #bb1515;
}

.main-lebel {
  opacity: 1;
  transform: translate(-50%, -100%);
  transition: all 0.3s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.4s;
}

.tip {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity 0.25s 0.5s;
}

.toogle-dark .tip {
  color: black;
}

.lab-next {
  position: fixed;
  top: 65%;
  right: 15%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity 0.25s 0.5s;
}

.toogle-dark .lab-back,
.toogle-dark .lab-next,
.toogle-dark .lab-skip {
  color: #111;
}

.lab-skip {
  position: fixed;
  top: 65%;
  right: 25%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity 0.25s 0.5s;
}

.lab-back {
  position: fixed;
  top: 65%;
  left: 16%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity 0.25s 0.5s;
}

.description-yags {
  position: fixed;
  top: 70%;
  left: 22%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s 0.5s;
}

.signup-button,
.signup-button-trigger {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 70vw;
  padding: 0.25rem 0;
  line-height: 3.6rem;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
  transition: opacity 0.4s 0.3s;
}

.signup-button-trigger {
  opacity: 0;
  pointer-events: auto;
}

.label-text {
  position: fixed;
  top: calc(60% - 4rem);
  left: 50%;
  transform: translate(-50%, -300%);
  width: 70vw;
  padding: 3.125rem 0 1.5rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s;
}

.toogle-dark .label-text {
  color: #111;
}

.label-textarea {
  position: fixed;
  top: calc(50% - 4rem);
  left: 50%;
  transform: translate(-50%, -300%);
  width: 70vw;
  padding: 3.125rem 0 1.5rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s;
}

.toogle-dark .label-textarea {
  color: #111;
}

.nav-dot {
  cursor: pointer;
  position: fixed;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  top: 52%;
  right: 1.25rem;
}

.nav-dot:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 0.375rem;
  height: 0.375rem;
  margin-right: 0.625rem;
  position: fixed;
  background-color: #16272f;
  border: 0;
  transition: all 0.25s;
}

.nav-dot:hover:before {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: -0.125rem;
  margin-left: -0.125rem;
  background-color: #a41212;
}

label[for=user_email] .nav-dot {
  margin-top: -150px;
}

label[for=size] .nav-dot {
  margin-top: -125px;
}

label[for=mobile] .nav-dot {
  margin-top: -100px;
}

label[for=description] .nav-dot {
  margin-top: -75px;
}

label[for=assign] .nav-dot {
  margin-top: -50px;
}

label[for=input-6] .nav-dot {
  margin-top: -25px;
}

label[for=service_id] .nav-dot {
  margin-top: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to bottom right, #111e25 0%, #111 100%); */
  /* font-family: "Lato", sans-serif; */
}

form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-f {
  position: relative;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  .input-box {
    font-size: 1.5rem;
  }

  .lab-back {
    left: 20%;
  }

  .lab-next {
    right: 10%;
  }
}