@media only screen and (max-width: 600px) {
  
  h5,p{
    font-size: 12px;
  }  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .mainImgCont{
      top:26% !important
    }
    .check-carousel{
      height: 100%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .mainImgCont{
      top:26% !important
    }
    
    .check-carousel{
      height: 300px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .mainImgCont{
      top:20% !important
    }
    .check-carousel{
      height: 300px;
    }
    
  } 
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .mainImgCont{
      top:20% !important
    }
    .check-carousel{
      height: 300px;
    }
  }