@font-face {
  font-family: forte;
  src: url('./font/FORTE.woff2');
}

@font-face {
  font-family: fredoka;
  src: url('./font/FredokaOne-Regular.woff2');
}

@font-face {
  font-family: gamja;
  src: url('./font/GamjaFlower-Regular.woff2');
}

.title_head {
  font-family: fredoka, sans-serif !important;
}

.travelling {
  color: #07F5BC;
}

.waiting {
  color: #23F311;
}

@media only screen and (max-width: 600px) {
  .title_font {
    font-size: 20px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 0 !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title_font {
    font-size: 20px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 0 !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title_font {
    font-size: 25px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 50% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title_font {
    font-size: 25px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 50% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title_font {
    font-size: 25px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 50% !important;
  }
}