.offer-Card{
  display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
position: absolute;
transform: rotate(-15deg);
transition: transform 0.25s cubic-bezier(.29,-0.54,.81,.95);
width: 7.25rem;
height: 2.25rem;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
color: #fff;
border-radius: 5px;
font-weight: bold;
line-height: 1;
}

.product-card:hover .offer-Card {
  transform: rotate(0deg);
}

.travelling {
  color: #07F5BC;
}

.waiting {
  color: #23F311;
}