.clock {
  font-size: 5em;
  font-weight: 300;
  font-family: 'Lato';
  width: 100%;
  text-align: center;
  height: 100px;
  color: #fff;
  position: relative;
}


.circular {
  position: absolute !important;
  top: -160px;
  left: 0;
  width: 100%;
  text-align: center;
}

.mainClock {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 64px;
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  will-change: overflow;

}

.sample {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: row;
  align-items: center;
}

.timer-div {
  /* display: flex;
justify-content: center;
align-items: center; */
  text-align: center;
}

.circular-div {
  position: relative;
  left: -147px
}

@media only screen and (max-width: 600px) {
  .timer-clock {
    font-size: 3.5rem !important;
  }

  .timer-name {
    font-size: 1.75rem !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .timer-clock {
    font-size: 6.5rem !important;
  }

  .timer-name {
    font-size: 3.5rem !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .timer-clock {
    font-size: 6.5rem !important;
  }

  .timer-name {
    font-size: 3.5rem !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .timer-clock {
    font-size: 6.5rem !important;
  }

  .timer-name {
    font-size: 3.5rem !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .timer-clock {
    font-size: 6.5rem !important;
  }

  .timer-name {
    font-size: 3.5rem !important;
  }
}

.timer-dark {
  color: #fff !important;
}

.timer-light {
  color: black !important;
}