.view {
  padding: 20px;
}

.view-border {
  border: 2px solid rgb(228 232 228);
  background: #ffff;
}

.toogle-dark .view-border {
  background: black;
}

.view-title-main,
.view-pay-main {
  padding-block: 5px;
}

.view-pay-main {
  text-align: center;
}

.view-title {
  font-size: 17px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.toogle-dark .view-title {
  color: white;
}

.view-title:hover {
  color: #29ca8e;
  outline: none;
}

.view-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.toogle-dark .view-price {
  color: white;
}

.view-month {
  font-size: 12px;
  color: #757575;
}

.toogle-dark .view-month {
  color: white;
}

.view-desc {
  font-size: 15px;
  color: #757575;
  /* padding-block: 20px; */
  line-height: 23px;
}

.new .col-md-4 {
  width: 33.33333333% !important;
}

.toogle-dark .view-desc {
  color: white;
}

.view-pay {
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px 40px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}

.toogle-dark .view-pay {
  border: 2px solid white;
  color: white;
}

.view-pay:hover {
  color: white;
  background: black;
}

.toogle-dark .view-pay:hover {
  background: black;
  color: white;
}

.view-list {
  padding-block: 10px;
  color: black;
}

.toogle-dark .view-list {
  color: white;
}

.view-list span:hover {
  color: #29ca8e;
  cursor: pointer;
}

.view-border:hover {
  box-shadow: 12px 10px 40px 0px wheat;
}

.view-tab {
  display: flex;
  justify-content: space-around;
  background: black;
  border-radius: 15px;
  color: white;
  border: 2px solid black;
  padding-block: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-inline: 30px;
}

.toogle-dark .view-tab {
  color: black;
  background: white;
  border: 2px solid white;
}

.view-tabs {
  padding: 10px 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.view-m {
  background: #29ca8e;
  color: black;
  border-radius: 10px;
}

.toogle-dark .view-m {
  color: black;
}

.view-banner {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 4px;
  color: #f5f5f5;
}

.list-padd {
  padding-top: 26px;
}


@media only screen and (max-width: 992px) {

  .rccs {
    padding-block: 10px;
  }

  .new .col-md-4 {
    width: 100% !important;
  }

  .view-tabs {
    padding: 10px 10px;
  }

  .view-tab {
    margin-inline: -15px;
  }

  .panel-body,
  .modal-body {
    padding: 0px;
  }

  .container-fluid .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .rccs__card {
    width: 270px;
  }

  .list-padd {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 600px) {

  .package-carousel .rec.rec-arrow {
    background-color: #212529;
    color: #fff;
    font-size: 1.2rem;
    height: 30px;
    min-width: 30px;
    border: 1px solid white;
    width: 30px;
    line-height: 0;
  }

  .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .package-carousel .rec.rec-pagination {
    display: block;
  }

  .package-card {
    height: 350px;
    width: 250px;
    margin: 0 4px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .package-carousel .rec.rec-arrow {
    background-color: #212529;
    color: #fff;
    font-size: 1.2rem;
    height: 30px;
    min-width: 30px;
    border: 1px solid white;
    width: 30px;
    line-height: 0;
  }

  .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .package-carousel .rec.rec-pagination {
    display: block;
  }

  .package-card {
    height: 350px;
    width: 250px;
    margin: 0 4px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .package-carousel .rec.rec-arrow {
    background-color: #d6a354;
    color: #212529;
    font-size: 1.5rem;
    height: 50px;
    min-width: 50px;
    border: none;
    width: 50px;
    line-height: 50px;
  }

  .package-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .package-carousel .rec.rec-pagination {
    display: none;
  }

  .package-card {
    height: 350px;
    width: 100%;
    margin: 0 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .package-carousel .rec.rec-arrow {
    background-color: #d6a354;
    color: #212529;
    font-size: 1.5rem;
    height: 50px;
    min-width: 50px;
    border: none;
    width: 50px;
    line-height: 50px;
  }

  .package-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .package-carousel .rec.rec-pagination {
    display: none;
  }

  .package-card {
    height: 350px;
    width: 100%;
    margin: 0 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .package-carousel .rec.rec-arrow {
    background-color: #d6a354;
    color: #212529;
    font-size: 1.5rem;
    height: 50px;
    min-width: 50px;
    border: none;
    width: 50px;
    line-height: 50px;
  }

  .package-carousel .rec.rec-arrow:hover {
    background-color: #fff;
    color: #d6a354;
  }

  .package-carousel .rec.rec-pagination {
    display: none;
  }


  .package-card {
    height: auto;
    width: 100%;
    margin: 0 15px;
  }
}

/* 
.course-table {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
} */

.course-table td {
  text-align: center;
}

.course-div {
  text-align: end;
  color: white;
}

.toogle-dark .course-div {
  text-align: end;
  color: black;
}

.course-div span:hover {
  color: #29ca8e;
  cursor: pointer;
}

.course-table table {
  width: 100%;
  color: white
}

.toogle-dark .course-table table {
  width: 100%;
  color: black;
}

.course-table td,
th {
  padding: 10px;
  border-bottom: 2px solid rgb(228 232 228);
  text-transform: capitalize;
}

.course-table th {
  font-size: 16px;
}

@media only screen and (max-width: 992px) {

  .course-table {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
  }

  .course-table td,
  th {
    padding: 4px;
    border-bottom: 1px solid white;
  }

  .toogle-dark .course-table td,
  th {
    padding: 4px;
    border-bottom: 1px solid black;
  }

  .course-table th {
    font-size: 14px;
  }

}