.offer-Card{
  display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
position: absolute;
transform: rotate(-15deg);
transition: transform 0.25s cubic-bezier(.29,-0.54,.81,.95);
width: 7.25rem;
height: 2.25rem;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
color: #fff;
border-radius: 5px;
font-weight: bold;
line-height: 1;
}

.service-card:hover .offer-Card {
  transform: rotate(0deg);
}

.travelling {
  color: #07F5BC;
}

.waiting {
  color: #23F311;
}

@media only screen and (max-width: 600px) {
  .book-btn{
    position: absolute;
    bottom: 0;
    width: 175px;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .book-btn{
    position: absolute;
    bottom: 0;
    width: 175px;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .book-btn{
    position: absolute;
    bottom: 0;
    width: 275px;
    text-align: center;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .book-btn{
    position: absolute;
    bottom: 0;
    width: 330px;
    text-align: center;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .book-btn{
    position: absolute;
    bottom: 0;
    width: 330px;
    text-align: center;
  }
}