.App {
  text-align: center;
}

#tsparticles {
  position: absolute !important;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  z-index: 0 !important;
}

#tsparticles canvas {
  position: absolute !important;
  z-index: 0 !important;
  pointer-events: none !important;
  overflow: hidden !important;
}

.logoMobile {
  flex: 0 0 14%;
}

.mainLogo img {
  width: 100%;
}

.mainLogo {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.mainLogo svg {
  width: 20%;
}

.mainLogo svg path {
  fill: #fff;
}

.headerMenu button {
  font-size: 18px;
  font-weight: normal !important;
  position: relative;
  padding: 0;
  letter-spacing: 1px;
}

.headerMenu button:hover,
.mobileBtns button:hover {
  color: #d6a354;
}

.activeLink {
  color: #d6a354 !important;
}

.service_Data_margin {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}

.colorMainC {
  filter: grayscale(100%) !important;
}

.headerMenu button:before {
  bottom: 0;
  display: block;
  height: 2px;
  width: 0%;
  content: "";
  background-color: #d6a354;
}

.headerMenu button:before,
.headerMenu button:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.headerMenu button:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.headerMenu button:hover:before {
  opacity: 1;
  width: 100%;
}

.searchContent p {
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 1.1;
  -webkit-text-stroke: 6px #bdbdbd;
  -webkit-text-fill-color: transparent;
}


.mainLogo button {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}

.mainLogo button:hover {
  color: #fff;
}

.toogle-dark .mainLogo button:hover {
  color: #252525;
}


.mainLogo button:hover {
  color: #d6a354;
}


:root {
  --bs-body-bg: #212529 !important;

}

#searchContainer {
  width: 100%;
  border: 2px solid #fff;
  padding: 22px;
  border-radius: 10px;
}

.mainWrapper {
  background: url(../src/assets/back-bg.png) no-repeat;
  background-position: left top;
  background-size: 56%;
}

.mainWrapperUser {
  position: relative;

}

.mainWrapperUser:before {
  content: "";
  background: url(../src/assets/dryer.png) no-repeat;
  position: absolute;
  left: 15px;
  top: 10%;
  width: 200px;
  height: 200px;
  background-size: 100%;
}

.mainWrapperUser:after {
  content: "";
  background: url(../src/assets/vector.png) no-repeat;
  position: absolute;
  right: 15px;
  top: 30%;
  width: 200px;
  height: 500px;
  background-size: 100%;
}



header {
  border: none !important;
  border-bottom: 1px solid #565656 !important;
}

div#mainHeader,
.innerContainer {
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

.insideTab .MuiTabs-flexContainer {
  align-items: center;
  justify-content: center;
}

.Tab_Box button {
  background: #f5f5f5;
  color: #242424;
  margin: 0 5px;
  border-radius: 3px;
}

.searchFil button {
  border-left: 1px solid #ccc;
  border-radius: 0;
}

.searchFil button svg {
  fill: #ccc;
}

.searchFil fieldset,
.searchBy fieldset {
  border: none !important;
}

.filterOuter .MuiPaper-rounded {
  color: transparent !important;
  box-shadow: none !important;
}

.searchBy svg {
  display: none;
}



.toogle-dark .searchContent p {
  -webkit-text-stroke: 6px #252525;
  -webkit-text-fill-color: transparent;
}

.toogle-dark #searchContainer {
  border: 1px solid #d6a354;
}

div#innerBanner {
  position: relative;
}

div#innerBanner:after {
  content: "";
  background: rgba(0, 0, 0, .5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


#innerBanner .bannerAddress {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 18px;
  color: #fff;
  z-index: 99;
}

.socialIcon {
  position: fixed;
  right: 0;
  top: 280px;
  background: #d6a354;
  padding: 0 !important;
  width: 54px;
  display: flex;
  flex-wrap: wrap;
}

.socialIcon .MuiIconButton-root {
  flex: 100%;
  padding: 9px 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0 !important;
}

.socialIcon .MuiIconButton-root:last-child {
  border-bottom: none;
}

.socialIcon .MuiIconButton-root svg {
  fill: #252525;
}

.barberList {
  padding: 32px 0 0;
  position: relative;
}

.scanCode {
  position: absolute;
  right: 14px;
  top: 0;
}

.scanCode .title_head {
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: normal;
}

.blockCards {
  flex: 0 0 19%;
  /* background: #fff; */
  margin: 0 0 20px;
  text-align: center;
  border-radius: 0;
}

.cardDes {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.cardDes h6 {
  color: #252525;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: normal;
  padding: 0 0 7px !important;
}

.cardDes p {
  color: #252525;
  opacity: 1 !important;
  text-transform: capitalize;
  font-size: 15px;
}

.loading {
  text-align: center;
  width: 100%;
}

.toogle-dark .blockCards {
  /* background: #f1f1f1; */
}

.toogle-dark .loading {
  color: #252525;
}

#product-card {
  border: 1px solid #8d8d8d;
  padding: 8px;
}

.cardImg {
  position: relative;
}

.cardImg .offer-Card {
  position: absolute;
  right: 10px;
  top: 10px;
  transform: none;
  border-radius: 0;
}

.bookingBtn button {
  font-size: 15px;
  text-transform: uppercase;
}

.appointBtn button:hover {
  background: #d32f2f;
  color: #fff;
}

.bookBtn button:hover {
  background: #e3be85;
  color: #fff;
}

.appointBtn button {
  background: #eb4b4b;
}

.bookingTitle {
  min-height: 67px;
  line-height: 27px;
  font-weight: 500;
  text-transform: uppercase;
}

.toogle-dark #product-card .bookingcardIn {
  box-shadow: none;
}

.toogle-dark #product-card {
  box-shadow: 0 0 9px #ccc !important;
  border: 1px solid #cbcbcb;
}

.UserCard_banner {
  background: #16a113;
}

.bookingPopup .MuiDialog-container.MuiDialog-scrollPaper {
  height: 100vh !important;
}

.bookingPopup .MuiPaper-root {
  width: 800px !important;
  height: auto !important;
}

.confirmBtn:hover {
  background: #fff;
  color: #d6a354;
}

.favIcon {
  position: relative;
}

.socialIcon .favIcon button {
  position: absolute;
  right: 6px;
  top: 4px;
  background: #fff;
  font-size: 13px;
  width: 15px;
  height: 15px;
  border-radius: 50% !important;
  color: #252525 !important;
  font-weight: bold;
}

.seatNo {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}



.socket-btn-green {
  color: green !important;
  text-transform: uppercase
}

.socket-btn-red {
  color: red !important;
  text-transform: uppercase;
}

.open-btn-green {
  color: green !important;
  text-transform: capitalize
}

.open-btn-red {
  color: red !important;
  text-transform: capitalize;
}

.shop-user-link {
  pointer-events: none;
  cursor: default;
}

.shop-queue-tab {
  text-align: center !important;
}

.socialIcon .MuiIconButton-root svg {
  fill: #fff;
}

.socialIcon .MuiIconButton-root.favIcon svg {
  fill: #ff0000;
}



.reviews {
  font-size: 15px;
}

.cardContent {
  padding-top: 0 !important;
}

.cardContent p {
  font-size: 16px !important;
}

.paddingTop {
  padding-top: 0 !important;
}

.paddingTop {
  padding-top: 10px !important;
}

.bookingBtn button {
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 0 !important;
  line-height: normal;
}


.socket-btn-dark {
  background-color: #252525 !important;
}

.socket-btn-light {
  background-color: white !important;
}

.shop-mobile-tab {
  display: flex !important;
  justify-content: space-around !important;
  text-align: center;
}

.payment-tab {
  display: flex !important;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.payment-tab-div {
  font-size: 13px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.toogle-dark .payment-tab-div {
  color: black;
}

.selected-payment-tab {
  font-size: 13px;
  padding: 10px;
  color: #d6a354;
  cursor: pointer;
}

.span-review {
  font-size: 0.95rem;
  font-weight: normal;
}

.notify-btn {
  cursor: pointer;
}

.notify-btn:hover {
  color: #d6a354;
}

.booking_number_high {
  color: #d6a354;
}

.notify-fade {
  background-color: #565656;
}

.booking_head {
  text-transform: uppercase;
  font-size: 23px;
}

.bookingGrid {
  margin: 22px 0 42px;
}

.page-margin {
  margin-bottom: 50px !important;
}

.bookingSec .innerBooking {
  display: flex;
  border-bottom: 1px solid #626060;
  padding: 0 0;
  align-items: center;
}

.bookingSec .innerBooking .seatTitle {
  margin-right: 30px;
  flex: 0 0 14%;
  height: 100%;
}

.bookingCardCont {
  border-left: 1px solid #626060;
  padding: 25px 0 25px 25px;
  width: 1800px;
  display: flex;
  overflow-x: scroll;
}

#bookingCardView {
  margin: 0 5px 0;
  flex: 0 0 25%;
}

.bookingSec {
  border-top: 1px solid #626060;
}

.contactFrom {
  margin: 24px 0 0;
  width: 100%;
}

.form_width {
  width: 92%;
}

#sendBtn {
  background: #d6a354;
  color: #fff;
  padding: 11px 37px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 3px;
}

.suppourt .title_font {
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 20px;
  font-family: 'Poppins', sans-serif !important;
  color: #252525;
  font-size: 16px;
}

.suppourt .title_font .icon {
  background: #d6a354;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.suppourt .title_font .icon svg {
  width: 64%;
}

.suppourt .title_font label {
  display: block;
  font-weight: 600;
  font-size: 15px;
  margin: 0 0 10px;
  color: #000;
}

.spaceBottom {
  margin: 0 0 34px;
}

.globalSearchContent p {
  font-size: 43px !important;
  font-weight: normal !important;
  margin: 32px 0 13px;
}

.searchSlider {
  margin: 48px 0;
}

.userWating p {
  text-align: left;
}

#bookBtn button:hover {
  background: #fff;
  color: #d6a354;
}

#bookBtn button {
  border-radius: 5px;
  text-transform: uppercase;
}

#bookBtn {
  position: static !important;
  text-align: left;
  margin: 10px 0 0;
}

.latestNew {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 35px;
  margin: 0 0 23px;
}

.deatilLocaiton-dark a {
  color: #fff;
}

.loginHead {
  font-size: 20px !important;
  text-transform: uppercase;
}

.googleLoginBtn span {
  text-align: center;
  display: block;
  width: 100%;
}

.category-carousel {
  margin: 35px 0 35px;
}

.listBtn button {
  background: #d6a354;
  margin: 0 0 0 9px;
  padding: 4px 8px;
}

.listBtn button,
.listBtn svg {
  color: #fff;
}

.listBtn button:hover {
  background: #d6a354;
}

.deatilLocaiton-light a {
  color: #242424;
}

.tab-btn-search {
  padding: 12px 16px !important;
}

.tab-btn-reset {
  padding: 9px 6px !important;
}

.success-title {
  font-size: 1.5rem;
}

.success-titles {
  font-size: 0.938rem;
}

.shop-login-btn {
  display: flex;
  margin: auto;
  padding-block: 10px;
}

#bannerQr {
  max-width: 800px;
  margin: auto;
  border: 4px solid rgba(255, 255, 255, .5);
  border-radius: 3px;
  background: url(../src/assets/qr-bg.jpg) no-repeat;
}

.innerPart {
  text-align: center;
  padding: 25px;
  position: relative;
}

#bannerQr .innerPart:before {
  content: "";
  background: url(../src/assets/qr-graphic.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 355px;
}

#bannerQr .container {
  padding: 0;
}

#bannerQr .tilte {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 0 0 17px;
  color: #d6a354;
}

#bannerQr .qrcodescanner {
  margin: 38px 0;
}

#bannerQr h3 {
  font-size: 23px;
  margin: 0 0 21px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}

#bannerQr .appTitle {
  text-transform: uppercase;
  margin: 0 0 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #37e744;
}

.insidetext a {
  color: #fff;
  font-size: 16px;
}

#bannerQr a.mainLogo {
  justify-content: center;
}

#bannerQr a.mainLogo svg {
  width: 8%;
}

.barbar_logo .logoMobile {
  flex: 100% !important;
  padding: 0 0 31px 0 !important;
}

.shop-banner-type {
  display: none;
}

.card-book {
  background-color: #19191E !important;
}

.card-book-highlight {
  background-color: #e3be85 !important;
}

.toogle-dark .card-book {
  background-color: #fff;
}

.shop-hint-title {
  font-size: 10px;
}

.formSubmit-btn {
  margin-right: 15px;
}

.view-grid-main {
  display: inline-grid !important;
}

.shop-profile-expert-chip {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}

.shop-image-select-pr-btn {
  margin-top: 20px !important;
}

.shop-image-title {
  margin-bottom: 10px !important;
}

.bannerDown {
  aspect-ratio: 16/9 !important;
}

@media (max-width: 600px) {
  .mainLogo button {
    font-size: 25px;
  }

  .tab-btn-search {
    padding: 12px 30px !important;
  }

  .logoMobile {
    padding: 0 !important;
    width: 100%;
    text-align: center;
  }

  .mobileBtns {
    text-align: center;
    position: relative;
    width: 100%;
  }

  .mobileBtns label {
    margin: 0 !important;
  }

  .mainLogo {
    max-width: 100%;
    display: flex;
    margin: 0 0 5px;

  }

  .searchContent {
    padding: 0 !important;
    text-align: center;
  }

  .mobileContainer {
    flex-wrap: wrap;
  }

  .mainWrapper {
    padding: 30px 10px !important;
    height: 80vh !important;
  }

  #searchContainer {
    width: 100%;
    border: 2px solid #fff;
    padding: 10px 10px 16px;
    border-radius: 10px;
    margin: 24px 0 0;
  }

  #searchBox {
    justify-content: center;
    align-items: center;
    height: 68%;
  }

  #fixedToolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* backdrop-filter: none; */
    /* background: #252525; */
    padding: 10px;
    border-top: 1px solid #ccc;
  }

  .ReactQueryDevtools button {
    bottom: 55px !important;
  }

  .searchContent p {
    -webkit-text-stroke: 1px #bdbdbd;
    -webkit-text-fill-color: transparent;
  }

  .toogle-dark .searchContent p {
    -webkit-text-stroke: 2px #252525;
    -webkit-text-fill-color: transparent;
  }

  .Tab_Box button {
    font-size: 13px !important;
    min-height: 34px !important;
  }

  .filterBtn {
    height: 44px;
    background: #d6a354 !important;
    color: #fff !important;
  }

  #responsive-dialog-title {
    padding: 0 20px;
  }

  .popupFilter .MuiCardContent-root {
    box-sizing: border-box;
  }

  .popupFilter .MuiCardContent-root .MuiPaper-root {
    width: 100% !important;
    min-width: 100% !important;
  }

  #responsive-dialog-title button {
    padding: 8px 0;
  }

  .blockCards {
    flex: 0 0 100%;
  }

  #innerBanner .bannerAddress {
    font-size: 14px;
    padding: 0 15px;
  }

  .socialIcon {
    position: static;
    padding: 0 !important;
    display: block;
    background: none;
    width: auto;
  }

  .socialIcon .MuiIconButton-root {
    flex: auto;
    padding: 9px 8px;
    color: #fff;
    border-bottom: none;
    border-radius: 0 !important;
  }

  .scanCode {
    position: static;
    margin: 18px 0 11px;
    top: 0;
  }

  .cardWrapper {
    margin: 0 0 8px;
  }

  .mobile_padding {
    padding-bottom: 60px !important;
  }



  .searchContent {
    padding: 0 !important;
    text-align: center;
  }

  .mobileContainer {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .mainWrapper {
    padding: 30px 10px !important;
    height: 80vh !important;
  }

  #searchContainer {
    width: 100%;
    border: 2px solid #fff;
    padding: 10px 10px 16px;
    border-radius: 10px;
    margin: 24px 0 0;
  }

  #searchBox {
    justify-content: center;
    align-items: center;
    height: 68%;
  }

  #fixedToolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* backdrop-filter: none; */
    /* background: #252525; */
    padding: 10px;
    border-top: 1px solid #ccc;
  }

  .ReactQueryDevtools button {
    bottom: 55px !important;
  }

  .searchContent p {
    -webkit-text-stroke: 1px #bdbdbd;
    -webkit-text-fill-color: transparent;
    font-size: 12vw !important;
  }

  .bookingPopup .MuiPaper-root {
    width: 800px !important;
    height: auto !important;
    margin: 0 14px !important;
  }

  .bookingPopup .MuiDialog-container.MuiDialog-scrollPaper {
    height: 100% !important;
  }

  .bookingSec .innerBooking .seatTitle {
    margin-right: 0;
    flex: 0 0 28%;
    height: 100%;
  }

  #bookingCardView {
    margin: 0 5px 0;
    flex: 0 0 68%;
  }

  .content-body-view-mobile {
    padding: 40px 0 63px;
  }

  .globalSearchContent p {
    font-size: 31px !important;
    font-weight: normal !important;
    margin: 0 0 13px;
    text-align: center;
  }

  .suppourt .title_font {
    font-size: 13px;
  }

  .mainLogo svg {
    width: 28px;
    margin: 0 7px 0px 0;
  }

  .mainWrapperUser:before {
    opacity: .2;
  }

  .bookingTitle {
    min-height: auto;
  }

  .bookingSucss {
    font-size: 15px;
    text-align: center;
  }

  .successBook {
    position: relative;
  }

  .closeIcon {
    position: absolute;
    right: 0;
    top: -26px;
  }

  .searchContent {
    flex-wrap: wrap !important;
    flex-direction: row !important;
  }

  .Tab_Box {
    padding: 12px 0 0 !important;
  }

  .mainWrapperUser:after {
    z-index: -1;
  }

  .serviceListHead {
    position: relative;
  }

  .listBtn {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
  }

  .listBtn button {
    background: #d6a354;
    margin: 0 0 0 9px;
    padding: 4px 8px;
  }

  .listBtn button,
  .listBtn svg {
    color: #fff;
  }

  .creatPop {
    position: relative;
  }

  .crossIcon {
    position: absolute;
    right: -16px;
    top: 0;
  }

  .description {
    height: 100px !important;
    border-radius: 5px;
    margin: 8px 0 0;
  }

  .createService {
    padding-bottom: 83px !important;
  }

  .description {
    height: 100px !important;
    border-radius: 5px;
    margin: 8px 0 0;
  }

  .createService {
    padding-bottom: 83px !important;
  }

  .customBookingView {
    background: none !important;
    border: 1px solid #bcbcbc;
    padding: 6px !important;
    box-shadow: none;
  }

  #bookingViewInside {
    background: none !important;
  }

  #bookingViewInside tr td {
    padding: 0;
    border: none;
  }

  #mainCusBook {
    padding: 0;
  }

  #mainCusBook .innerCusBook {
    background: none !important;
    box-shadow: none;
  }

  .bookingCUsIMg {
    border-radius: 0 !important;
    background: none !important;
  }

  #bookingViewInside .block {
    font-size: 15px !important;
    font-weight: 600;
    text-transform: capitalize;
  }

  #bookingViewInside .acceptBlock .block,
  #bookingViewInside .acceptBlock .labeling {
    padding: 0 0 14px 0;
  }

  #bookingViewInside .labeling {
    font-size: 15px !important;
    font-weight: normal;
    text-transform: capitalize;
  }

  .paddingBottom {
    padding-bottom: 0 !important;
  }

  /* .bookingBtn {
    padding-left: 0 !important;
    

  }

  .bookingTitle {
    min-height: auto;
    font-size: 17px !important;
  }

  } */
}

/* .socket-btn-green {
  color: green !important;
  text-transform: uppercase;
}

.socket-btn-red {
  color: red !important;
  text-transform: uppercase;
}

.socialIcon .MuiIconButton-root svg {
  fill: #fff;
}

.socialIcon .MuiIconButton-root.favIcon svg {
  fill: #ff0000;
}

.bookingTitle {
  min-height: auto;
  font-size: 17px !important;
}

.reviews {
  font-size: 15px;
}

.cardContent {
  padding-top: 0 !important;
}

.cardContent p {
  font-size: 16px !important;
}

.paddingTop {
  padding-top: 0 !important;
}

.paddingTop {
  padding-top: 10px !important;
}

.bookingBtn button {
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 0 !important;
  line-height: normal;
}


/* .socket-btn-dark {
  background-color: #252525 !important;
}

.socket-btn-light {
  background-color: white !important;
} */

/* .shop-mobile-tab {
  display: flex !important;
  justify-content: space-around !important;
  text-align: center;

}  */


@media screen and (min-width: 992px) {
  .headerMenu button {
    margin: 0 4px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .headerMenu button {
    margin: 0 4px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1300px) {
  .headerMenu button {
    margin: 0 7px;
    font-size: 18px;
  }
}