.description {
  background: bottom;
  text-decoration-color: lightsteelblue;
  width: 100%;
  padding: 10px;
}

.description-dark {
  color: #e6edef;
}

.description-light {
  color: black;
}

#registrationContainer {
  max-width: 1342px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 7px;
  padding: 17px;
  box-sizing: border-box;
}

#registration_page h2 {
  padding: 0;
  font-size: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
}

#lang label {
  /* background: #1e1e1e; */
  padding: 0 5px;
}

.dark-loc .css-yk16xz-control,
.dark-loc .css-1pahdxg-control {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.23);
  padding: 10px 0 11px;
}

.light-loc .css-yk16xz-control,
.light-loc .css-1pahdxg-control {
  background: transparent;
  padding: 10px 0 11px;
}

.dark-loc input {
  color: #fff !important;
}

/* .dark-loc .menu {
  color: white !important;
  background-color: #252525 !important;
} */

.light-loc input {
  color: #252525 !important
}

/* .light-loc .menu {
  background-color: #fff !important;
  color: black !important;
} */

#locationBtn button:hover {
  background: #fff;
  color: #d6a354;
}

#locationBtn button {
  width: 100%;
  padding: 19px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
}

.locationBtn-font {
  font-size: 40px !important;
}

#locationInput {
  margin: 0 0 8px;
}

.waitingLabel {
  font-size: 12px;
}

#regiHead {
  font-size: 16px;
  margin: 12px 0 7px;
  color: #fff;
}

#uploadImg img.image_tag {
  width: 57%;
}

#regiDes textarea.description {
  border-radius: 5px;
}

#addBtn button:hover {
  background: #fff;
  color: #d6a354;
}

#addBtn button {
  font-size: 16px;
}

#listofmember .MuiButtonBase-root {
  display: inline-block;
  margin: 0 13px 11px 0;
  padding: 15px;
  height: auto;
  border-radius: 28px;
}

#submitBtn button:hover {
  background: #fff;
  color: #d6a354;
}

#submitBtn button {
  margin: 20px 0 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

#lang .MuiChip-root {
  height: auto;
}

#regiHead .MuiButtonBase-root {
  margin-right: 9px;
}

@media only screen and (max-width: 600px) {

  .image_tag {
    border: 1px solid;
    width: 50%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .image_tag {
    border: 1px solid;
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .image_tag {
    border: 1px solid;
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .image_tag {
    border: 1px solid;
    width: 100%;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .image_tag {
    border: 1px solid;
    width: 100%;
  }
}

.formSubmit-btn {
  margin-right: 15px;
}