.queue-color {
  background: #d6a354;
  cursor: pointer
}

.queue-cursor {
  cursor: pointer;
}

.queue-center {
  text-align: center;
}

.queue-highlight {
  background-color: blue;
  cursor: pointer;
}

.toogle-dark .queue-highlight {
  cursor: pointer;
  background-color: aliceblue;
}

.customer-font {
  font-size: 1.125rem;
}

.payment-card-font {
  font-size: 1rem;
}

.customer-fonts {
  font-size: 16px;
}

.customer-btn {
  text-transform: capitalize;
  font-size: 0.75rem;
}

.customer-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.customer-tablecell {
  padding-top: 0;
  padding-bottom: 0;
}

.div-flex {
  display: flex;
  justify-content: space-between;
}

.employee-title {
  font-size: 0.75rem;
}

.employee-body {
  font-size: 0.95rem;
}

.employee-list {
  font-size: 14px;
}

.employee-name {
  font-size: 22px;
  text-transform: capitalize;
}

.div-flex-se {
  display: flex;
  justify-content: space-evenly;
}

.employee-cardC {
  padding: 6px !important;
}

.employee-card {
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.dark-table {
  background-color: #342f2f;
}

.light-table {
  background-color: white;
}

@media only screen and (max-width: 600px) {

  .queue-tableHeadMob {
    line-height: 0.5rem !important;
    padding: 0px 16px !important;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .queue-tableHeadMob {
    line-height: 0.5rem !important;
    padding: 0px 16px !important;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .queue-tableHeadMob {
    line-height: 1.5rem !important;
    padding: 6px 16px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .queue-tableHeadMob {
    line-height: 1.5rem !important;
    padding: 6px 16px !important;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .queue-tableHeadMob {
    line-height: 1.5rem !important;
    padding: 6px 16px !important;
  }
}