@font-face {
  font-family: forte;
  src: url('./font/FORTE.woff2');
}

@font-face {
  font-family: fredoka;
  src: url('./font/FredokaOne-Regular.woff2');
}

@font-face {
  font-family: gamja;
  src: url('./font/GamjaFlower-Regular.woff2');
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700;800;900&display=swap');

body {

  font-family: 'Poppins', sans-serif;
  font-weight: normal;

}

.title_head {
  font-family: 'Poppins', sans-serif !important;
}

.title_head_home {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 900 !important;
}

.travelling {
  color: #07F5BC;
}

.waiting {
  color: #23F311;
}

@media only screen and (max-width: 600px) {
  .title_font {
    font-size: 20px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 0 !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title_font {
    font-size: 20px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 0 !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title_font {
    font-size: 25px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 50% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title_font {
    font-size: 25px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 50% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title_font {
    font-size: 25px;
    font-family: gamja, sans-serif !important;
  }

  .form_width {
    min-width: 50% !important;
  }
}