.content-body-view {
  padding: 150px 0;
}

.content-body-view-mobile {
  padding: 40px 0;
}

.leftPannel {
  font-size: 20px;
  font-family: 'Poppins', sans-serif !important;
}

.flexBOx h4 {
  font-family: 'Kanit', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.aboutMain {
  background: url(../../../assets/about-bg.jpg) no-repeat;
  background-size: cover;
  height: 90vh !important;
  background-position: right top;
}

.flexBOx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexBOx .left {
  flex: 0 0 50%;
  height: auto;
}

.aboutMain div {
  height: 100%;
}

.toogle-dark .flexBOx {
  color: #fff;
}

.email-a,
.mobile-a {
  text-decoration: none;
  color: #252525;
}

.email-a:hover {
  color: #252525;
}

.mobile-a:hover {
  color: #252525;
}

@media (max-width: 600px) {
  .flexBOx {
    flex-direction: column;
  }

  .flexBOx .left {
    flex: 0 0 100% !important;
    height: auto;
  }

  .aboutMain {
    background: transparent;
    height: auto !important;
  }

  .toogle-dark .flexBOx {
    color: inherit;
  }

}